/* hover color: #fe62ad 
    standard color theme : #ffcde4
    

*/
:root{
    --primary-color:#facce2 ;
    --secondary-color:#ed6ba9;
    --shade1:#db9dbd;
    --shade2: #efb1c9;
    --shade3:#c78faa;
    --shade4: #d0b0bb;

}
.leftColumn {
    background-color: #2ecc71;
    width: 30%;
    height: 1000px;
}
.rightColumn {
    background-color: #2ecc71;
    width: 20%;
    height: 100%;
}
.centerColumn {
    background-color: #2ecc71;
    width: 50%;
    height: 1000px;
    top: 10%;
    z-index: 998;
}
.matchingPic {
    width:600px;
    height: 500px;

}


.topNav{
    position: fixed;
    height:10%;
    top:0;
    left:0;
    width: 80%;
    z-index: 999;
    background-color: var(--shade2);
}
