/* hover color: #fe62ad 
    standard color theme : #ffcde4
    

*/
:root{
    --primary-color:#facce2 ;
    --secondary-color:#ed6ba9;
    --shade1:#db9dbd;
    --shade2: #efb1c9;
    --shade3:#c78faa;
    --shade4: #d0b0bb;

}
