<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amicitia</title>
    <link rel="stylesheet" href="./LoginPageStyle.css">
</head>

<body>

    <div class="center">
        <h1>Welcome</h1>
        <h2 class="logo">
            <img src="../static/img/community-removebg.png">
        </h2>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Don't have an account? <a href="#" >Sign up</a></p>
                </div>
                
            </form>
            
</body>
</html>