<!doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <div class="header"></div>

  <body>
    <div title = "nav bar" class = "topNav">
      <h2>Amicitia</h2>
    <!-- <div>
    </div> -->
    </div>
    <div title="leftColumn" class="leftColumn" style="position: fixed; top: 10%; left: 0; background-color: var(--shade1)">
      <button style="width:100%; height: 100%"onclick = "window.location.href='home-community.html';">
      <h1>Interest Communities</h1>
      </button>
    </div>
    <div title="centerColumn" class="centerColumn" style="position: absolute; top: 10%; left: 10%; background-color: white">
      <ul style="align-content: right; background-color: var(--shade1); margin: 10px; padding: 50px; border-radius: 15px;">
        <div class="matchingPic" style="background-color: var(--shade3)"></div>
        <br>
        <div>Lorem ipsum dolor sit amet. Est animi eligendi non laborum illo sit nisi vero. Aut minus internos non consequatur distinctio non nostrum necessitatibus in magnam quis. Sed esse voluptas ad facilis dicta aut sapiente tempora. Ut doloribus ullam aut voluptas debitis ex mollitia natus ea quia tempore et assumenda animi est cumque voluptas est sequi aliquid.</div>
        <h2>Interests</h2>
        <li>
          <h3>Breathing</h3>
          <h3>Sleeping</h3>
          <h3>Sitting</h3>
        </li>
      </ul>

    </div>
    <div title="rightColumn" class="rightColumn"style=" position: fixed; top: 0px;right: 0%; background-color: blue">
      <h1>Chats</h1>
    </div>
  </body>
<html>