<!doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <div class="header"></div>
  <body>
    <div title = "nav bar" class = "topNav">
      <h2>Amicitia</h2>
    <!-- <div>
    </div> -->
    </div>
    <div title="leftColumn" class="leftColumn" style="position: fixed; top: 0px; left: 0; background-color: red">
      <h1>Interest Communities</h1>
    </div>
    <div title="centerColumn" class="centerColumn" style="position: absolute; top: 0px; left: 30%; background-color: green">
      <li>
        <h1>Name</h1>
        <div class="matchingPic" style>Picture</div>
      </li>

    </div>
    <div title="rightColumn" class="rightColumn"style=" position: absolute; top: 0px;right: 0%; background-color: blue">
      <h1>Chats</h1>
    </div>
  </body>
<html>