<!doctype html>
<html>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <div class="header">

    
  </div>
  <body>
  </div>
  <body>
    <div title="leftColumn" class="column" style="position: fixed; top: 0px; left: 0; background-color: red">

    </div>
    <div title="centerColumn" class="column" style="position: absolute; top: 0px; left: 33.50%; background-color: green">

    </div>
    <div title="rightColumn" class="column"style=" position: absolute; top: 0px;right: 0%; background-color: blue">

    </div>
  </body>
<html>