<!DOCTYPE html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="../profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-container">
        <div class="profile-picture">
            <img src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="Profile Picture">
        </div>
        <div class="background-picture">
            <img src="https://st.depositphotos.com/1656517/2890/v/600/depositphotos_28907641-stock-illustration-abstract-background-vector-illustration.jpg" alt="Background Picture">
        </div>
        <div class="profile-info">
            <h1 class="Name">Name</h1>
            <h2 class="Username">Username</h2>
            <p class="Bio"> Placeholder</p>
            <button>Edit Profile</button>
        </div>
    </div>
</body>
</html>
